{{#if home}}
    <section class="hero" id="home_page_hero">
        <div class="hero_img">
            <!--<img src="/front_end_preview/img/hero_5.png" alt="Robot holding light">-->
            <video src="/media/hero_video_5.mp4" autoplay="true" loop="true"></video>
        </div>
        <div class="hero_content width_container"> 
            <h1>
                    Welcome to Cyberdise Online Store
            </h1>
            <div>
                <div>
                    <p class="animate__animated animate__fadeIn">
                        Shop Without Limits
                    </p>
                    <button class="button_class product_button">
                        Buy Now
                    </button>
                    <span>          
                        <br>{{message}}
                    </span>
                </div>    
            </div>        
            <div class="scroll_down_container">
                <a id="go_to_top" href="#home_page_main"><i class="fas fa-angle-down"></i></a>    
            </div>
        </div>
    </section>
{{/if}}
