<section class="width_container">
    <div class="greeting_msg">
        {{> database_welcome_msg}}
        <p>View and Edit Products Below</p>
    </div>
</section>
<section class="width_container">
    <div>
        <a href="/employee/edit-stock/restock" class="button_class product_button"><i class="fas fa-plus"></i> Order Supplies</a>
        <a href="/employee/edit-stock/add-categories" class="button_class product_button"><i class="fas fa-plus"></i> Add Categories</a>
    </div>
    <div class="table_container">
        <table>
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Category Description</th>
                    <th>Category Photo</th>
                    <th class="edit_th">Edit</th>
                </tr>   
            </thead>
            <tbody>
                <tr>
                    <td>Category Name</td>
                    <td>Category Description</td>
                    <td>Category Photo</td>
                    <td class="edit_td"><a href="/employee/edit-stock/edit-category" class="button_class"><i class="far fa-plus-square"></i></a></td>
                </tr> 
            </tbody>
        </table>
    </div>
    <div>
        <a href="/employee/edit-stock/add-products" class="button_class product_button"><i class="fas fa-plus"></i> Add Products</a>
    </div>
    <div class="table_container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Bestseller</th>
                    <th>img_path</th>
                    <th class="edit_th">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Speaker</td>
                    <td>1000 Watts kalsdjadnasuodadnwjasaifbasfsajd udoisfsufhdsdufhsfudshfsasaidasodasdoasi uaoshasudashdoashd</td>
                    <td>Electronics</td>
                    <td>$111.99</td>
                    <td>28</td>
                    <td>Yes</td>
                    <td>img_path</td>
                    <td class="edit_td"><a href="/employee/edit-stock/edit-product" class="button_class"><i class="far fa-plus-square"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

