<section>
    <div class="width_container">
        <div class="greeting_msg width_container">
            {{> employee_welcome_msg}} {{user_info.country_flag_src}}
            <p>View and Edit Account Details Below</p>
        </div>
        <div class="centre_items">
            <div>
                <div>
                    <h2>Products in Stock</h2>
                </div>
                <div>
                    <a class="button_class product_button" href="/employee/edit-stock">View Product Database</a>  
                </div> 
            </div>    
        </div>
        <div class="create_success_msg width_container" id="employee_edit_success_msg">
            <p>Your Employee Account Details were modified successfully!</p>
        </div>
        <div class="profile_container">
            <div>
                <div>
                    <div>
                        <h2>Your Employee Profile Details</h2>       
                    </div>
                    <div>
                        <div>
                            <h2>Address</h2>    
                        </div> 
                        <div>
                            <h3>Country:</h3>
                            <p>Placeholder</p>  
                        </div>
                        <div>
                            <h3>Last Login Date:</h3>
                            <p>Placeholder</p>  
                        </div>
                        <div>
                            <h3>Last Login IP:</h3>
                            <p>Placeholder</p>  
                        </div>
                        <div>
                            <h3>Account Created:</h3>
                            <p>Placeholder</p>  
                        </div>
                        <div>
                            <h3>Last Edited:</h3>
                            <p>Placeholder</p>  
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <h2>Your Login & Security Details</h2>       
                    </div>
                    <div>
                        <div>
                            <div>
                                <h3>Name:</h3>
                                <p>Darnell Noel</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h3>Username:</h3>
                                <p>Placeholder</p> 
                            </div>
                        </div>
                        <div>
                            <div>
                                <h3>Email:</h3>
                                <p>Placeholder</p> 
                            </div>
                        </div>
                        <div>
                            <div>
                                <h3>Phone Number:</h3>
                                <p>Placeholder</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h3>Password:</h3>    
                                <p>Placeholder</p>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <a class="button_class product_button" href="/employee/edit-account">Edit Employee Profile</a>    
            </div> 
        </div>
        <div>
            <a href="/auth/logout" class="button_class product_button" type="submit">Logout</a>
        </div>
    </div>
</section>
