<section class="width_container">
    <div class="greeting_msg">
        {{> database_welcome_msg}}
        <p>Order from Available Suppliers Below</p>
    </div>
</section>
<section class="width_container">
    <div class="create_success_msg">
        <p>Order placed successfully! Add another or return to the dashboard</p>
    </div>
    <form action="/employee/edit-stock/restock/:id?method=put" method="POST" class="form_class">
        <div>

            <div class="form_input_container">
                <label for="supplier">Supplier</label>
                <select name="supplier" id="supplier">
                    <option value="Amazon">Amazon</option>
                    <option value="Courts">Courts</option>
                    <option value="Ebay">Ebay</option>
                    <option value="Massy">Massy</option>
                    <option value="Megastore">Megastore</option>
                    <option value="Walmart">Walmart</option>
                </select>
            </div>
 
            <div class="form_input_container">
                <label for="product_code">Product Code</label>
                <select name="product_code" id="product_code">
                    
                {{#each products}}

                <option value="{{this}}">{{@index}}</option>

                {{/each}}
                
                </select>
            </div>

            <div class="form_input_container">
                <label for="product_quantity">Product Quantity</label>
                <input type="number" value="1" min="1" name="product_quantity" id="product_quantity">
            </div>

            <div class="form_input_container">
                <h3>Product Name: Product</h3>
            </div>

            <div class="form_input_container">
                <h3>Estimated cost: $100.00</h3>
            </div>
        </div>
        <div>
            <button type="submit" class="button_class product_button">Place Order <i class="fas fa-arrow-right"></i></button>
            <a href="/employee/edit-stock" class="button_class product_button"><i class="fas fa-arrow-left"></i> Go Back</a>
        </div>
    </form>
</section>

