<section class="no_hero scroll_snap_start_pos">
    {{#each best_sellers}}
    <div class="full_view_section width_container">
        <section class="top_view_section">
            <div>
                <div>
                    <button class="hamburger_menu button_class" type="button"><i class="fas fa-bars"></i></button>
                    <h2>
                        Best Sellers:<br>{{this}}   
                    </h2>    
                </div>  
                <a href="#home_page_main">
                    <i class="fas fa-angle-up"><span>Previous Section</span></i>  
                </a>
                <a id="go_to_top" href="#page_start">
                    <i class="fas fa-angle-double-up"><span>Top of Page</span></i>  
                </a>
            </div>
        </section>
        <section class="mid_view_section"> <!--Background image full 100% width-->
            <div>
                <div>
                    <h3>
                        See Our Most Popular Products in this Category    
                    </h3>   
                </div>
                <div class="best_seller_container">
                    <div class="best_seller_preview">
                        <div>
                            <img src="/img/fake_db_imgs/echo_dot.jpg" alt="">
                        </div>
                        <div>
                            <img src="/img/fake_db_imgs/security_camera.png" alt="">
                        </div>
                        <div>
                            <img src="/img/fake_db_imgs/echo_dot.jpg" alt="">                                </div>
                    </div>
                    <div class='left_arrow_sel'>
                        <i class="fas fa-angle-left"></i>
                    </div>
                    <div class="best_seller_carousel">
                        <div class="scroll_snap_start_pos best_seller_div">
                            <div>
                                <a href="/product-overview">
                                    <img class="product_img" src="/img/fake_db_imgs/echo_dot.png" alt="">
                                </a>
                            </div>
                            <div class="rating_div">
                                <div class="rw-ui-container"></div> <!--REVIEW RATING WIDGET-->
                            </div>
                            <h4 class="product_name">
                                Alexa Echo 
                            </h4>
                            <h4 class="product_description">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos sunt, autem asperiores provident maxime accusantium!
                            </h4>
                            <h4 class="product_price">
                                From $109.99
                            </h4>    
                            <a class="button_class product_button" href="/product-overview">
                                See Full Reviews &amp; More
                            </a> 
                        </div>
                        <div class="scroll_snap_start_pos best_seller_div">
                            <div>
                                <a href="/product-overview">
                                    <img class="product_img" src="/img/fake_db_imgs/lenovo_laptop.png" alt="">
                                </a>
                            </div>
                            <div class="rating_div">
                                <div class="rw-ui-container"></div> <!--REVIEW RATING WIDGET-->
                            </div>
                            <h4 class="product_name">
                                Alexa Echo 
                            </h4>
                            <h4 class="product_description">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos sunt, autem asperiores provident maxime accusantium!
                            </h4>
                            <h4 class="product_price">
                                From $109.99
                            </h4>    
                            <a class="button_class product_button" href="/product-overview">
                                See Full Reviews &amp; More
                            </a> 
                        </div>
                        <div class="scroll_snap_start_pos best_seller_div">
                            <div>
                                <a href="/product-overview">
                                    <img class="product_img" src="/img/fake_db_imgs/security_camera.png" alt="">
                                </a>
                            </div>
                            <div class="rating_div">
                                <div class="rw-ui-container"></div> <!--REVIEW RATING WIDGET-->
                            </div>
                            <h4 class="product_name">
                                Alexa Echo 
                            </h4>
                            <h4 class="product_description">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos sunt, autem asperiores provident maxime accusantium!
                            </h4>
                            <h4 class="product_price">
                                From $109.99
                            </h4>    
                            <a class="button_class product_button" href="/product-overview">
                                See Full Reviews &amp; More
                            </a> 
                        </div>
                    </div> 
                    <div class="right_arrow_sel">
                        <i class="fas fa-angle-right"></i>
                    </div>
                    <div class="best_seller_preview">
                        <div>
                            <img src="/img/fake_db_imgs/security_camera.png" alt="">
                        </div>
                        <div>
                            <img src="/img/fake_db_imgs/echo_dot.jpg" alt="">                                </div>
                        <div>
                            <img src="/img/fake_db_imgs/security_camera.png" alt="">
                        </div>
                    </div>
                </div>   
            </div>
        </section>
        <section class="bot_view_section">
            <div>
                <a href="#page_end">
                    <i class="fas fa-angle-double-down"><span>Bottom of Page</span></i>  
                </a>
                <a href="#home_page_main">
                    <i class="fas fa-angle-down"><span>Next Section</span></i>  
                </a>
                <a href="">
                    View All Products in this Category  
                </a>                        
            </div>
        </section>
    </div>
    {{/each}}
    <!--SECOND BEST SELLER START-->
    <!--
    <div class="full_view_section">
        <div class="top_view_section">

        </div>
        <div class="mid_view_section"> <!--Background colour full 100% width
            <div >
                TEXT
            </div>
        </div>
        <div class="bot_view_section">

        </div>
    </div>
    </div>
    <!--THIRD BEST SELLER START   
    <div class="full_view_section">
        <div class="top_view_section">
            <h2>

            </h2>
        </div>
        <div class="mid_view_section"> <!--Background colour full 100% width
            <div >
                TEXT
            </div>
        </div>
        <div class="bot_view_section">

        </div>
    </div>
    </div>-->    
</section>
