<section>
    <div>
        <div class="greeting_msg width_container">
            <h1>Welcome to your Customer Dashboard, Darnell Noel</h1>
        </div>
        <div class="centre_items">
            <div>
                <div>
                    <h2>Your Items</h2>
                    <p>You have 10 products in your shopping cart</p>
                </div>
                <div>
                    <a class="button_class product_button" href="/customer/my-cart">View Shopping Cart</a>  
                </div> 
            </div>    
        </div>
        <div class="profile_container">
            <div >
                <div>
                    <div>
                        <h2>Your Customer Profile:</h2>       
                    </div>
                    <div>
                        <div>
                            <h2>Address</h2>    
                        </div> 
                        <div>
                            <h3>Country/Region:</h3>
                            <p>Placeholder</p>  
                        </div>
                        <div>
                            <h3>Postcode:</h3>
                            <p>Placeholder</p>  
                        </div>
                        <div>
                            <h3>Address Line 1:</h3>
                            <p>Placeholder</p>  
                        </div>
                        <div>
                            <h3>Address Line 2:</h3>
                            <p>Placeholder</p>  
                        </div>
                        <div>
                            <h3>Town/City:</h3>
                            <p>Placeholder</p>  
                        </div>
                        <div>
                            <h3>State:</h3>
                            <p>Placeholder</p>  
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <h2>Your Login & Security Details</h2>       
                    </div>
                    <div>
                        <div>
                            <div>
                                <h3>Name:</h3>
                                <p>Darnell Noel</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h3>Email:</h3>
                                <p>Placeholder</p> 
                            </div>
                        </div>
                        <div>
                            <div>
                                <h3>Phone Number:</h3>
                                <p>Placeholder</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h3>Credit Card Number:</h3>    
                                <p>Placeholder</p>
                            </div>    
                        </div>
                        <div>
                            <div>
                                <h3>Password:</h3>    
                                <p>Placeholder</p>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <a class="button_class product_button" href="">Edit Customer Profile</a>    
            </div> 
        </div>
        <div>
            <a href="/auth/logout" class="button_class product_button" type="submit">Logout</a>
        </div>
    </div>
</section>
