<section id="promotions_section">
    <div>
        <h2>Our Biggest Promotions Yet</h2>
    </div>
</section>
<section class="width_container">
    <div>
        SEARCH SECTION
    </div>
    <div>
        PAGINATION TOP
    </div>
    <div id="products_section">
        <div class="products_display">
            <div>
                <a href="/products/product-overview">
                    <img class="product_img" src="/img/fake_db_imgs/echo_dot.png" alt="" title="">
                </a>
            </div>
            <div>
                <div class="rating_div">
                    <div class="rw-ui-container"></div> <!--REVIEW RATING WIDGET-->
                </div>
                <h4 class="product_name">
                    Alexa Echo
                </h4>
                <h4 class="product_price">
                    From $109.99
                </h4>  
            </div>
            <a class="button_class product_button" href="/products/product-overview">
                See Full Details
            </a>
        </div>
        <div class="products_display">
            <div>
                <a href="/products/product-overview">
                    <img class="product_img" src="/img/fake_db_imgs/security_camera.png" alt="" title="">
                </a>
            </div>
            <div>
                <div class="rating_div">
                    <div class="rw-ui-container"></div> <!--REVIEW RATING WIDGET-->
                </div>
                <h4 class="product_name">
                    Alexa Echo
                </h4>
                <h4 class="product_price">
                    From $109.99
                </h4>  
            </div>
            <a class="button_class product_button" href="/products/product-overview">
                See Full Details
            </a>
        </div>
        <div class="products_display">
            <div>
                <a href="/products/product-overview">
                    <img class="product_img" src="/img/fake_db_imgs/uranus_soap.jpg" alt="" title="">
                </a>
            </div>
            <div>
                <div class="rating_div">
                    <div class="rw-ui-container"></div> <!--REVIEW RATING WIDGET-->
                </div>
                <h4 class="product_name">
                    Alexa Echo
                </h4>
                <h4 class="product_price">
                    From $109.99
                </h4>  
            </div>
            <a class="button_class product_button" href="/products/product-overview">
                See Full Details
            </a>
        </div>
        <div class="products_display">
            <div>
                <a href="/products/product-overview">
                    <img class="product_img" src="/img/fake_db_imgs/programmer_jersey.jpg" alt="" title="">
                </a>
            </div>
            <div>
                <div class="rating_div">
                    <div class="rw-ui-container"></div> <!--REVIEW RATING WIDGET-->
                </div>
                <h4 class="product_name">
                    Alexa Echo
                </h4>
                <h4 class="product_price">
                    From $109.99
                </h4>  
            </div>
            <a class="button_class product_button" href="/products/product-overview">
                See Full Details
            </a>
        </div>
    </div>
    <div>
        PAGINATION BOTTOM
    </div>
</section>